@{
    Layout = null;
}

<!DOCTYPE html>
<html class="hide-sidebar ls-bottom-footer" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Rikyas</title>
    <link href="/assets/vendors/css/all.min.css" rel="stylesheet" />
    <link href="/assets/custom/css/style.css" rel="stylesheet" />
    <script src="/assets/vendors/jquery/jquery-3.1.1.min.js"></script>
</head>
<body class="login">
    <div class="row login-content">
        <h1 class="text-center">Rikyas</h1>
        <h3 class="text-center tagline">A place to share knowledge and better understand the world</h3>

        <div class="col-md-4 col-md-offset-4 content panel">
            <div class="panel-body">
                <h4 class="">Change Password</h4>
                <input type="password" id="Pass" class="form-control mb-10" placeholder="Password">
                <input type="password" id="RPass" class="form-control mb-10" placeholder="Re-enter Password">
                <button class="btn btn-primary pull-right" onclick="ChangePassword(this);" id="login-btn">Change Password</button>

            </div>
        </div>
    </div>

    <script src="/assets/vendors/script/all.min.js"></script>
    <script src="/assets/custom/script/func.js"></script>
    <script>
        var eURL = '@ViewBag.link';

        function ChangePassword(e) {
            var $me = $(e);
            var $pass = $("#Pass").val();
            var $rPass = $("#RPass").val();
            if ($pass == $rPass) {
                var Data = { "Pass": $pass, "Link": eURL }
                runAjax('@Url.Action("SetNewPassword", "Account")', Data, true, $(e), "button", afterChangePassword, $(e));
            } else {
                alert("Password missmatch");
            }
        }

        function afterChangePassword(data, e) {
            location.href = "/Account/Login";
        }
    </script>
</body>
</html>
