@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="col-md-12">
        <div class="jumbotron text-center">
            <h1>Events</h1>
            @*<p>
                    Search for Events by location, issue, category and more.
                </p>*@
        </div>
    </div>

    <div class="col-md-12">
        <h1>START YOUR EVENT</h1>
    </div>
    <div class="col-md-7">
        <div class="form-group">
            <label for="title">Choose a name for your Event</label>
            <input type="text" class="form-control" id="event-name" autofocus>
        </div>
        <div class="form-group">
            <label for="title">Location</label><input type="text" class="form-control" id="location" placeholder="City, State or City, Country">
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="title">Starts Date</label><input type="text" class="form-control" id="sDate" placeholder="Start date">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="title">Start Time</label><input type="text" class="form-control" id="sTime" placeholder="Start time">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="title">End Date</label><input type="text" class="form-control" id="eDate" placeholder="End date">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="title">End Time</label><input type="text" class="form-control" id="eTime" placeholder="End time">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="title">Description</label>
            <textarea class="form-control" rows="4" id="description" placeholder="Write a short description of your event and its goals."></textarea>
        </div>

        <hr />
        <div class="form-group">
            <div class="col-md-3 no-padding">
                <button class="btn btn-primary form-control" onclick="createEvent(this);">Continue</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $(".avatar img").click(function () {
            $(this).closest(".avatar").find("img").removeClass("selected");
            $(this).addClass("selected");
        });


        $('#sDate').bootstrapMaterialDatePicker({ time: false, minDate: new Date() });
        $('#eDate').bootstrapMaterialDatePicker({ time: false, minDate: new Date() });
        $('#sTime').bootstrapMaterialDatePicker({ date: false, format: 'HH:mm', shortTime: true });
        $('#eTime').bootstrapMaterialDatePicker({ date: false, format: 'HH:mm', shortTime: true });
    });

    function createEvent(e) {
        var $me = $(e);
    }
</script>
