<div class="panel panel-default text-center">
    <div class="panel-heading panel-heading-gray title">
        @*<a class="color-hover" href="/Team/Index">Teams</a>*@
        <span class="color-hover" onclick="window.location.href = '/Team/Index'">Find Teams</span>
    </div>
    <div class="panel-heading panel-heading-gray title">
        <span class="color-hover" onclick="showNgo(this)">NGO's Directory</span>
    </div>
    <div class="panel-heading panel-heading-gray title">
        <span class="color-hover" onclick="showCsr(this)">CSR's Listing</span>
    </div>
    

    @*<div class="panel-body text-center">
        <span class="color-hover" onclick="showSetInterestedTopics();">CSR's Listing</span>
    </div>*@
</div>

@*<div class="panel panel-default">
    <div class="panel-heading panel-heading-gray title">
        Recent Activities
    </div>
    <div class="panel-body no-padding">
        <ul class="modal-group-list">
            <li>
                <div class="media-left">
                    <a href="/Profile/Index/1">
                        <img src="/assets/images/people/fasih.jpg" width="28" height="28" class="media-object img-circle">
                    </a>
                </div>
                <div class="media-body">
                    <div class="user-details">Fasih commented on Yaqoob's post</div>
                </div>
            </li>
            <li>
                <div class="media-left">
                    <a href="/Profile/Index/1">
                        <img src="/assets/images/people/BilalMateen.jpg" width="28" height="28" class="media-object img-circle">
                    </a>
                </div>
                <div class="media-body">
                    <div class="user-details">Bilal endorse faisal's comment</div>
                </div>
            </li>
            <li>
                <div class="media-left">
                    <a href="/Profile/Index/1">
                        <img src="/assets/images/people/AliQureshi.jpg" width="28" height="28" class="media-object img-circle">
                    </a>
                </div>
                <div class="media-body">
                    <div class="user-details">Ali follows Fasih's post</div>
                </div>
            </li>
            <li>
                <div class="media-left">
                    <a href="/Profile/Index/1">
                        <img src="/assets/images/people/AliMotiwala.jpg" width="28" height="28" class="media-object img-circle">
                    </a>
                </div>
                <div class="media-body">
                    <div class="user-details">Ali support Afnan's comment</div>
                </div>
            </li>
            <li>
                <div class="media-left">
                    <a href="/Profile/Index/1">
                        <img src="/assets/images/people/AfnanYusuf.jpg" width="28" height="28" class="media-object img-circle">
                    </a>
                </div>
                <div class="media-body">
                    <div class="user-details">Afnan follow Faisal's post</div>
                </div>
            </li>
        </ul>
    </div>
</div>*@


<script>
    function showNgo(e) {
        var $me = $(e);
        var Data = { "ID": "" };
        runAjax("/Home/GetNGO", Data, false, "", "full", afterShowNgo, $me);
    }
    function afterShowNgo(data, e) {
        var $me = $(e);

        if (data.length > 0) {
            var $bodyElem = '';
            $bodyElem += '<ul class="modal-group-list">';
            for (var i = 0; i < data.length; i++) {
                $bodyElem += '<li>';
                $bodyElem += '<div class="media-left"><a href="#"></div>';
                $bodyElem += '<div class="media-body">';
                $bodyElem += '<a class="user-name" href="#">' + data[i]["NgoName"] +'</a>';
                // $bodyElem += '<div class="user-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</div>';
                $bodyElem += '</div>';
                $bodyElem += '</li>';
            }
            $bodyElem += '</ul>';
            showModal("", "", true, true, true, "NGO's Directory", $bodyElem, "");
        } else
            showModal("", "", true, true, true, "NGO's Directory", "<h2 class='text-center'>No Ngo In Directory</h2>", "");
    }

    function showCsr(e) {
        var $me = $(e);
        var Data = { "ID": "" };
        runAjax("/Home/GetCSR", Data, false, "", "full", afterShowCsr, $me);
    }
    function afterShowCsr(data, e) {
        var $me = $(e);

        if (data.length > 0) {
            var $bodyElem = '';
            $bodyElem += '<ul class="modal-group-list">';
            for (var i = 0; i < data.length; i++) {
                $bodyElem += '<li>';
                $bodyElem += '<div class="media-left"><a href="#"></div>';
                $bodyElem += '<div class="media-body">';
                $bodyElem += '<a class="user-name" href="#">' + data[i]["CsrName"] + '</a>';
                // $bodyElem += '<div class="user-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</div>';
                $bodyElem += '</div>';
                $bodyElem += '</li>';
            }
            $bodyElem += '</ul>';
            showModal("", "", true, true, true, "CSR's Directory", $bodyElem, "");
        } else
            showModal("", "", true, true, true, "CSR's Directory", "<h2 class='text-center'>No CSR In Directory</h2>", "");
    }
</script>