@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h2>Find Archives</h2>
    <p class="bottom-space hide-tiny">Search for Archive (documents, images and videos) by issue, category and more.</p>

    <div class="form-group">
        <label class="title">I’m looking for</label>
        <select class="form-control">
            <option>All</option>
            <option>Images</option>
            <option>Documents</option>
            <option>Videos</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-12" id="recentAttachment">
        <h3>Recent uploads</h3>
        @*<div class="row">
            @for (int i = 0; i < 10; i++)
            {
                <div class="col-md-3">
                    <div class="panel img-box">
                        <div class="img-box-top" style="height: 200px;">
                            <div class="responsive-image" style="background-image: url(/uploads/files/20170412110549955_4e8c67cf80cc4208b7f0ace5d8064b3d_donation.png)"></div>
                        </div>
                        <div class="img-box-bottom">
                            <div class="img-box-title"></div>

                            <div class="img-box-options row no-margin">
                                <div class="col-md-3 text-center" onclick="showArchiveInfo(this);" title="Info"><i class="material-icons">info</i></div>
                                <div class="col-md-3 text-center"><i class="material-icons">remove_red_eye</i></div>
                                <div class="col-md-3 text-center"><i class="material-icons">thumb_up</i></div>
                                <div class="col-md-3 text-center"><i class="material-icons">report</i></div>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>*@
    </div>
</div>

<div class="row">
    <div class="col-md-12" id="allAttachment">
        <h3>Browse by categories</h3>
        @*<div class="row">
                @for (int i = 0; i < 10; i++)
                {
                    <div class="col-md-3">
                        <div class="panel img-box">
                            <div class="img-box-top" style="height: 200px;">
                                <div class="responsive-image" style="background-image: url(/uploads/files/20170412110549955_4e8c67cf80cc4208b7f0ace5d8064b3d_donation.png)"></div>
                            </div>
                            <div class="img-box-bottom">
                                <div class="img-box-title"></div>

                                <div class="img-box-options row no-margin">
                                    <div class="col-md-3 text-center" onclick="showArchiveInfo(this);" title="Info"><i class="material-icons">info</i></div>
                                    <div class="col-md-3 text-center"><i class="material-icons">remove_red_eye</i></div>
                                    <div class="col-md-3 text-center"><i class="material-icons">thumb_up</i></div>
                                    <div class="col-md-3 text-center"><i class="material-icons">report</i></div>
                                </div>

                            </div>
                        </div>
                    </div>
                }
            </div>*@
    </div>
</div>


<script>
    function afterUserDetails() {
        getAllAttachments();
    }

    
    function getAllAttachments() {
        var Data = { "RefID": "" };
        runAjax("/Post/GetPostRecentAttachment", "", false, "", "", setRecentAttachments, "");
        runAjax("/Post/GetPostAllAttachment", Data, false, "", "", setAllAttachments, "");
    }

    function setAllAttachments(data, e) {
        $("#allAttachment").append(getArchiveBoxElems(data));
    }

    function setRecentAttachments(data, e) {
        $("#recentAttachment").append(getArchiveBoxElems(data));
    }
</script>
