@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h2>Find Archives</h2>
    <p class="bottom-space hide-tiny">Search for Archive (documents, images and videos) by issue, category and more.</p>

    <div class="form-group">
        <label class="title">I’m looking for</label>
        <select class="form-control">
            <option>All</option>
            <option>Images</option>
            <option>Documents</option>
            <option>Videos</option>
        </select>
    </div>

</div>



<script>
    function afterUserDetails() { }
</script>
