@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="col-md-12">
        <div class="jumbotron text-center">
            <h1>Where work gets done</h1>
            <p>
                Join a team to solve the issue. You can become a team member, or if you are really committed to resolving this issue, you can also become the co-team leader. Here, you can organise events, create action plans or leverage our extensive group of experts.
                Read our tutorial to make the best use of teams.
            </p>
        </div>
    </div>

    <div class="col-md-12">
        <h1>START YOUR TEAM</h1>
    </div>
    <div class="col-md-7">
        <div class="form-group">
            <label for="title">Choose a name for your Team</label>
            <input type="text" class="form-control" id="team-name">
        </div>
        <div class="form-group">
            <label for="title">Location</label><input type="text" class="form-control" id="location" placeholder="City, State, Province, Country - location helps went people want to join team">
        </div>
        <div class="form-group">
            <label for="title">Description</label>
            <textarea class="form-control" rows="4" id="description" placeholder="Write a short description of your Team and its goals."></textarea>
        </div>
        <div class="form-group dropdown">
            <label for="title">Invite Experts and users</label><input type="text" id="team-user-search" class="form-control" onkeyup="searchUsersForTeam(this);" placeholder="This gives you initial thrust. You can add more later">
            <ul class="dropdown-menu team-users" style="width: 100%"></ul>

            <div class="row ">

                <div class="col-md-12 users-tag"></div>
            </div>
        </div>

        <div class="form-group">
            <label for="title">Select Profile Image or upload yours</label>
            <div class="avatar" id="img-url">
                <img src="~/assets/images/teams/team-sample-2.jpg" width="120" data-img-val="team-sample-2.jpg" class="selected" />
                <img src="~/assets/images/teams/team-sample-3.jpg" width="120" data-img-val="team-sample-3.jpg" />
                <img src="~/assets/images/teams/team-sample-4.jpg" width="120" data-img-val="team-sample-4.jpg" />
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-3 no-padding">
                <button class="btn btn-primary form-control" onclick="createTeam(this);">Continue</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $(".btn.btn-primary").attr("data-issue-id", getURLParameter());
        $(".avatar img").click(function () {
            $(this).closest(".avatar").find("img").removeClass("selected");
            $(this).addClass("selected");

        });

        getUsersForTeam();


    });
    function getUsersForTeam() {
        var Data = { "ID": "" };
        runAjax("/Home/GetUserForTeam", Data, false, "", "full", setUserForTeam);
    }

    function setUserForTeam(data, e) {
        var $liElem = '';
        for (var i = 0; i < data.length; i++) {
            $liElem += '<li class="hidden" onclick="selectUserForTeam(this);"><a>' + data[i]["FirstName"] + " " + data[i]["LastName"] + '</a></li>';
        }
        $(".team-users").append($liElem);
    }
    function searchUsersForTeam(e) {
        var $me = $(e);
        if ($me.val().trim() != "") {
            if (!($me.closest(".dropdown").hasClass("open"))) $me.closest(".dropdown").addClass("open");
            $(".team-users li").addClass("hidden");
            $(".team-users li:containsNC('" + $me.val() + "')").removeClass("hidden");
        } else {
            $me.closest(".dropdown").removeClass("open");
            $(".team-users li").addClass("hidden");
        }
    }
    function selectUserForTeam(e) {

        var $me = $(e);
        var $elem = '' +
            '<div class="selected-occ">' + $me.find("a").text() + '' +
                '<div class="selected-occ-close" onclick="removeOccItem(this)">✖</div>' +
            '</div>';
        $(".users-tag").append($elem);

        $(".team-users li").addClass("hidden");
        $(".team-users").closest(".dropdown").removeClass("open");
        $("#team-user-search").val("");
        $("#team-user-search").focus();

    }
</script>