@{
    ViewBag.Title = "Profile";
}

<div class="timeline row">
    <div class="col-xs-12 col-md-3 col-lg-3 timeline-block">
        <div class="team-left"></div>
    </div>
    <div class="col-xs-12 col-md-9 col-lg-9 timeline-block">
        <div class="team-right"></div>
    </div>

</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            getTeamDetails(getURLParameter());
        });

        function getTeamDetails(id) {
            var Data = { "ID": id };
            runAjax("/Team/GetTeamDetails", Data, true, $("body"), "full", setTeamDetails);
        }
        function setTeamDetails(data, e) {
            if (data.length > 0) {

                var d = new Date(data[0].CreatedDate);

                var $leftElem = '' +
                '<div class="panel" data-team-id="' + data[0].TeamID + '" style="background: transparent;box-shadow: none;">' +
                    '<div class="panel-body no-padding">' +
                        '<div class="team-box">' +
                            //'<img src="/assets/images/teams/' + data[0].ImgUrl + '" class="team-img" />' +
                            '<div class="responsive-image" style="background-image: url(/assets/images/teams/' + data[0].ImgUrl + ')"></div>' +
                        '</div>' +
                        //'<div class="panel-body cat-img">' +
                        //   (data[0].IsMeExist == 0 ?
                        //   '<button type="button" class="btn btn-primary form-control" onclick="joinUnjoinTeam(this)">Join</button>' :
                        //   '<button type="button" class="btn btn-default form-control" onclick="joinUnjoinTeam(this)">Joined</button>') +
                        //'</div>' +
                         '<div class="panel-body">' +
                            '<h4 class="profile-card-full-name">' + data[0].TeamName + '</h4>' +
                             (data[0].IsMeExist == 0 ?
                                '<button type="button" class="btn btn-primary form-control" onclick="joinUnjoinTeam(this)">Join team</button>' :
                                '<button type="button" class="btn btn-default form-control mb-10">Joined</button>') +

                            '<button type="button" class="btn btn-default form-control mb-10" onclick="showInviteTeam(this);">Invite people to join your group</button>' +
                            '<button type="button" class="btn btn-primary form-control mb-10" onclick="todo(this);">Take an action</button>' +

                            '<ul class="links">' +
                                '<li><a href="#">' + data[0].CategoryName + '</a></li>' +
                                '<li><a href="#">Members: ' + data[0].MembersCount + '</a></li>' +
                                '<li><a href="#">Experts: 0</a></li>' +
                                '<li><a href="#">Status: ' + data[0].Status + '</a></li>' +
                                '<li><a href="#">No action perform yet!</a></li>' +
                                '<li><a href="#">Start Date: ' + (d.getMonth() + 1) + "-" + d.getDate() + "-" + d.getFullYear() + '</a></li>' +
                            '</ul>' +
                        '</div>' +
                    '</div>' +
                '</div>';

                var $rightElem = '' +
               '<div class="panel" data-team-id="' + data[0].TeamID + '" style="background: transparent;box-shadow: none;">' +
    //(data[0].MyDesignation == 1 ?
                    '<div class="dropdown pull-right">' +
                        '<button type="button" class="btn btn-default pull-right" style="margin-left: 6px;" id="setting-icon" data-toggle="dropdown"><i class="material-icons">settings</i></button>' +
                        '<ul class="dropdown-menu">' +
                            '<li><a href="javascript:void(0)" onclick="exitFromTeam(this);">Exit team</a><li>' +
                        '</ul>' +
                    '</div>' +
    //       : "") +


    //(data[0].IsMeExist == 0 ?
    //     '<button type="button" class="btn btn-primary pull-right" onclick="joinUnjoinTeam(this)">Join team</button>' :
    //     '<button type="button" class="btn btn-default pull-right" onclick="joinUnjoinTeam(this)">Exit team</button>') +

                    '<h3 class="margin-top-none">' + data[0].TeamName + '</h3>' +
    //data[0].Description +
                    '<div>Karachi, Sindh, Pakistan</div>' +
                    '<div>' + data[0].MembersCount + ' Members</div>' +
                    '<hr>' +
                    '<h4>About this Team</h4>' +
                    '<p>' + data[0].Description + '</p>' +
                    '<hr>' +
                    '<h4>Team Members</h4>' +
                    '<div class="row team-member-div"></div>' +
                    '<hr>' +
                    '<h4>Team Discussion</h4>' +
                    '<div class="row team-discussion-div"></div>' +
               '</div>';

                $(".team-left").append($leftElem);
                $(".team-right").append($rightElem);

                getTeamMembers(getURLParameter());
                getTeamDiscussion(getURLParameter());
            }
        }

        function getTeamMembers(id) {
            var Data = { "ID": id };
            runAjax("/Team/GetTeamMembers", Data, true, $("body"), "full", setTeamMembers);
        }

        function setTeamMembers(data, e) {
            if (data.length > 0) {

                var $elem = '';
                for (var i = 0; i < data.length; i++) {
                    $elem +=
                    '<div class="col-md-4 team-member-box">' +
                        '<div class="media-left">' +
                            '<a href="/Profile/Index/' + data[i].ID + '">' +
                                (data[i].Designation == "Leader" ? '<img class="badge-icon" src="../../assets/images/badge.png" title="Expert user">' : "") +
                                '<img src="/assets/images/people/' + data[i].ImgUrl + '" class="img-60 img-circle">' +
                            '</a>' +
                        '</div>' +
                        '<div class="media-body">' +
                            '<div class="team-member-rl">' + data[i].Designation + '</div>' +
                            '<h5 class="no-margin">' + data[i].FirstName + ' ' + data[i].LastName + '</h5>' +
                            '<div class="team-member-rl"><span class="icon-location"></span>Karachi, Sindh, Pakistan</div>' +
                        '</div>' +

                        ($("#setting-icon").length > 0 ?
                            '<div class="media-right">' +
                                '<div class="dropdown" data-show-hover="li"><a href="#" data-toggle="dropdown" class="toggle-button"><i class="material-icons">more_vert</i></a><ul class="dropdown-menu pull-right" role="menu"><li><a href="javascript:void(0)" onclick="removeUserFromTeam(this);"><i class="material-icons">report</i> Remove this user</a></li></ul></div>' +
                            '</div>'
                        : "") +
                    '</div>';
                }
                $(".team-member-div").append($elem);
            }
        }

        function joinUnjoinTeam(e) {
            var $me = $(e);
            var Data = { "TeamID": $me.closest(".panel").data("team-id") };
            runAjax("/Team/InsertTeamMember", Data, false, "", "button", setMeInTeam, $me);
        }
        function afterUserDetails() { }

        function setMeInTeam(data, e) {
            var $me = $(e);
            if (data.Table.length > 0) {
                if (data.Table[0].IsMeExists > 0) {
                    $me.text("Exit team");
                    showCustomAlert("Success", "Join team successfully", "success", "bottom-left");
                } else {
                    $me.text("Join team");
                    showCustomAlert("Success", "You exit from team", "success", "bottom-left");
                }
            }
        }

        function removeUserFromTeam(e) {
            var $me = $(e);

            $me.closest(".team-member-box").fadeOut(function () {
                $(this).remove();
            });
            showCustomAlert("Success", "User remove successfully", "success", "bottom-left");

        }

        function getTeamDiscussion(id) {
            var Data = { "ID": id };
            runAjax("/Team/GetTeamDiscussion", Data, true, $("body"), "full", setTeamDiscussion);
        }

        function setTeamDiscussion(data, e) {
            if (data.length > 0) {

                var $elem = '';
                for (var i = 0; i < data.length; i++) {
                    $elem +=
                    '<div class="col-md-9 team-discussion-box">' +
                        '<div class="jumbotron">' +

                            '<h5><strong>' + data[i].FirstName + ' ' + data[i].LastName + ' wrote: </strong></h5>' +
                            '<div class="">' +
                                '<div>' + data[i].CommentBody + '</div>' +
                            '</div>' +
                        '</div>' +
                    '</div>';
                }
                $(".team-discussion-div").append($elem);
            }
        }

        function showInviteTeam(e) {
            var $me = $(e);
            
            var Data = { "TeamID": $me.closest(".panel").data("team-id") };
            runAjax("/Team/GetNotTeamUsers", Data, true, $("body"), "full", afterShowInviteTeam, $me);
        }

        function afterShowInviteTeam(data, e) {
            var $me = $(e);

            if (data.length > 0) {
                var $bodyElem = '';
                $bodyElem += '<div class="form-group dropdown">';
                $bodyElem += '<input type="text" id="team-user-search" class="form-control" onkeyup="searchUsersForTeam(this);" placeholder="Search Here">';
                $bodyElem += '<ul class="dropdown-menu team-users" style="width: 100%"></ul>';
                $bodyElem += '<div class="row ">';
                $bodyElem += '<div class="col-md-12 users-tag"></div>';
                $bodyElem += '</div>';
                $bodyElem += '</div>';


                var $footerElem = '<button type="button" class="btn btn-primary" onclick="sendTeamInvite(this);">Send Invite</button>';

                showModal("", "minH", true, true, true, "Invite", $bodyElem, $footerElem);

                
                var $liElem = '';
                for (var i = 0; i < data.length; i++) {
                    $liElem += '<li class="hidden" onclick="selectUserForTeam(this);"><a>' + data[i]["FirstName"] + " " + data[i]["LastName"] + '</a></li>';
                }
                $(".team-users").append($liElem);

                
            } else
                console.log("No Followers");
        }

        function searchUsersForTeam(e) {
            var $me = $(e);
            if ($me.val().trim() != "") {
                if (!($me.closest(".dropdown").hasClass("open"))) $me.closest(".dropdown").addClass("open");
                $(".team-users li").addClass("hidden");
                $(".team-users li:containsNC('" + $me.val() + "')").removeClass("hidden");
            } else {
                $me.closest(".dropdown").removeClass("open");
                $(".team-users li").addClass("hidden");
            }
        }
        function selectUserForTeam(e) {

            var $me = $(e);
            var $elem = '' +
                '<div class="selected-occ">' + $me.find("a").text() + '' +
                    '<div class="selected-occ-close" onclick="removeOccItem(this)">✖</div>' +
                '</div>';
            $(".users-tag").append($elem);

            $(".team-users li").addClass("hidden");
            $(".team-users").closest(".dropdown").removeClass("open");
            $("#team-user-search").val("");
            $("#team-user-search").focus();
        }

        function sendTeamInvite(e) {
            closeModal(e);
            showCustomAlert("Success", "Invitation sent successfully", "success", "bottom-left");
        }

        function exitFromTeam(e) {
            
        }
    </script>
}

